[submodule "antigen"]
    path = antigen
    url = https://github.com/zsh-users/antigen
[submodule "awesome/lain"]    
    path = awesome/lain  
    url = https://github.com/copycat-killer/lain
[submodule "awesome/awesompd"]
    path = awesome/awesompd
    url = https://github.com/alexander-yakushev/awesompd
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/cvim-pathogen"]
	path = vim/bundle/cvim-pathogen
	url = https://github.com/HenningM/cvim-pathogen
[submodule "vim/bundle/ghcmod-vim"]
	path = vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/purescript-vim"]
	path = vim/bundle/purescript-vim
	url = https://github.com/raichoo/purescript-vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/dart-vim-plugin"]
	path = vim/bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "vim/bundle/vim2hs"]
	path = vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
